/06-Operasi-operasi-dasar-pengolahan-citra.pdf
/admin,+19.pdf
/BAB_5_CITRA_BERWARNA.ppt
/Digital Image Processing 3rd ed. - R. Gonzalez, R. Woods-Color Processing-416-482.pdf
/Digital Image Processing 3rd ed. - R. Gonzalez, R. Woods-ilovepdf-compressed-90-94.pdf
/Digitalisasi Citra.ppt
/morfologi citra.pdf
/notasiangkacitra.png
/Pertemuan 1 Citra.pdf
/Reva1.jpeg
/Reva2.jpeg
/Reva_g1.jpeg
/Reva_g2.jpeg
/Segmentasi Citra.pptx
/Tugas 1_225314064.pdf